<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STARK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <STARK.Properties.Settings>
            <setting name="ConfigIni" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NombreUsuario" serializeAs="String">
                <value>Señor</value>
            </setting>
            <setting name="NombreAsistente" serializeAs="String">
                <value>AVStark</value>
            </setting>
            <setting name="VozDefault" serializeAs="String">
                <value>Microsoft Helena Desktop</value>
            </setting>
            <setting name="VolumenIA" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ConfidenciaUsuario" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="OpacidadVentana" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OffMicro" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="InicioWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodClima" serializeAs="String">
                <value>119848</value>
            </setting>
            <setting name="On_Off_Micro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ingresóIE" serializeAs="String">
                <value>False</value>
            </setting>
        </STARK.Properties.Settings>
    </userSettings>
</configuration>